*,
*::before
*::after{ box-sizing: border-box; 
}
html {
  height: 100%;
  font-size: 60%;
  
}
body {
  margin: 0;
  height: 100%;
  
  background-color: rgba(124, 139, 37, 0.911);
  padding: 2rem;
  background-image: url('https://images5.alphacoders.com/319/319730.jpg');
  width: 100%;
  background-size: cover;
  background-position: center, center;
  font-family: 'Asap', sans-serif;
}
.tittle {
  font-family: cursive;
  font-size: 2.4rem;
  display:flex;
  justify-content: center;
  gap: 1rem;
  
}
.tittle_1{
  font-size: 2rem;
  background-color: #dadabe52;
  margin-top: 1px;
  font-family:'Asap', sans-serif;
  font-weight: 1px;
  padding:1px;
  display:flex;
  justify-content: center;
  gap: 1rem;
  text-align: center; 
}
.form {
  margin: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display:flex;
  flex-direction: column;
  gap: 2rem;
}
.form input {
  background-color: rgba(128, 129, 118, 0.288) ;
  border-radius: 6px;
  padding: 1rem;
  border: none;
  font-size: 2rem;
}
.form input:focus{
  outline: none;
}
.button input:focus{
  outline: none;
}
.form button {
  border-radius: 6px;
  background-color: #f9f110d3;
  margin-top: 2rem;
  font-size: 2rem;
  font-family:'Asap', sans-serif;
  font-weight: 2px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  
}
.icon{
  background-color: rgba(37, 35, 35, 0.158);
}
.list{
  font-size: 2rem;
  font-weight: 700;
}
.list li > div{
  display: flex;
  justify-content:space-between;
  background-color: #f3f3d87e; 
  font-family: cursive;
  margin: 1rem;
  margin-top: 0rem;
}
.list button{
  border-radius: 0.3rem;
  background-color: #f9f110d3;
  border-radius: 12px;
  color: rgb(13, 15, 11);
  cursor: pointer;
  font-weight: bold;
  padding: 4px 3px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 10px;
  touch-action: manipulation;
  margin-bottom: 0.5rem;
}




